 <html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/layout">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/favicon.ico">
    <title>首页</title>
    <script>
   		$(document).ready(function(){
   			setInterval(function(){
   				var birth = new Date($("#birthDay").val());
   	   			var now = new Date();
	   			var years = (now - birth) / 1000 / 60 / 60 / 24 / 365.25;
	   			var intYear = Math.floor((now - birth) / 1000 / 60 / 60 / 24 / 365.25);
	   			var intMonth = Math.floor((now - birth) / 1000 / 60 / 60 / 24 / 30.58);
	   			var intWeek = Math.floor((now - birth) / 1000 / 60 / 60 / 24 / 7);
	   			var intDay = Math.floor((now - birth) / 1000 / 60 / 60 / 24);
	   			var intHour = Math.floor((now - birth) / 1000 / 60 / 60);
	   			var intMinute = Math.floor((now - birth) / 1000 / 60);
   				$("#age").text(years.toFixed(8));
   				
   				$("#intYear").text(intYear);
   				$("#intMonth").text(intMonth);
   				$("#intWeek").text(intWeek);
   				$("#intDay").text(intDay);
   				$("#intHour").text(intHour);
   				$("#intMinute").text(intMinute);
   			}, 1000);
   		});
   	</script>
   	<style>
   		.col-width {
   			width: 180px;
   			text-align: center;
   		}
   	</style>
  </head>
  <body>
   <div layout:fragment="content">
   	<h2>Hello<span th:text="${user!= null?', '+user.name:''}"></span> </h2>
   		<div>You have already been <span id="age" style="font-weight:bold;margin-bottom:20px;"></span> years old.</div>
   		<table border="1" style="margin-top:20px;">
   			<tr>
   				<td class="col-width">年</td>
   				<td class="col-width"><span id="intYear" style="font-weight:bold;"></span></td>
   			</tr>
   			<tr>
   				<td class="col-width">月</td>
   				<td class="col-width"><span id="intMonth" style="font-weight:bold;"></span></td>
   			</tr>
   			<tr>
   				<td class="col-width">周</td>
   				<td class="col-width"><span id="intWeek" style="font-weight:bold;"></span></td>
   			</tr>
   			<tr>
   				<td class="col-width">天</td>
   				<td class="col-width"><span id="intDay" style="font-weight:bold;"></span></td>
   			</tr>
   			<tr>
   				<td class="col-width">小时</td>
   				<td class="col-width"><span id="intHour" style="font-weight:bold;"></span></td>
   			</tr>
   			<tr>
   				<td class="col-width">分钟</td>
   				<td class="col-width"><span id="intMinute" style="font-weight:bold;"></span></td>
   			</tr>
   		</table>
   		<input id="birthDay" type="hidden" th:value="${user!=null&&user.birthDay!=null?user.birthDay.toString():''}">
   		<input id="name" type="hidden" th:value="${user!=null?user.name:''}">
   	</div>
  </body>
</html>
