<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/images/favicon.ico">
    <title>注册页面</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/signin.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <form th:object="${object}"
    	class="form-signin" action="/users/register" method="post">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">注册</h1>
      </div>
      
      <div class="form-label-group">
        <input type="name" name="name" id="name" class="form-control" placeholder="用户名" required autofocus>
        <label for="name">用户名</label>
      </div>

      <div class="form-label-group">
        <input type="cellphoneNumber" name="cellphoneNumber" id="cellphoneNumber" class="form-control" placeholder="手机号" required>
        <label for="cellphoneNumber">手机</label>
      </div>

      <div class="form-label-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="密码" required>
        <label for="password">密码</label>
      </div>
      
      <div class="form-label-group">  
      		<!-- <label for="inpuVerifyCode">验证码</label> -->
		  <input type="verifyCode" name="verifyCode" class="form-control" id="inpuVerifyCode" placeholder="验证码" required minlength="4" maxlength="4" style="width:50%;float:left;">
	  	  <button type="button" id="verifycode" class="btn btn-sm btn-secondary" onclick="submitForm(this);" style="height:50px;float:right;width:30%;margin-bottom: 17px;">获取验证码</button>
		</div>

  		<button class="btn btn-lg btn-primary btn-block" type="submit" style="clear:both;">提&nbsp;交</button>
  		<div class="checkbox mb-3" style="text-align:right;margin-top:20px;">
	        <label>
	          <a href="/login">已有账号？登录</a>
	        </label>
	      </div>
    </form>
    
    <script type="text/javascript" >  
		//倒计时  
		var countdown=60;  
		function submitForm(val) {  
			$.ajax({
				url:"/users/sendsms?cellphoneNumber=" + $("#cellphoneNumber").val(),
			});
			settime(val); 
		}  
		function settime(val){
			if (countdown == 0) {  
		        val.removeAttribute("disabled");  
		        $("#verifycode").text("获取验证码");
		        countdown = 60;  
		        return false;  
		    } else {
		        val.setAttribute("disabled", true);  
		        $("#verifycode").text("重新发送(" + countdown + ")");
		        countdown--;  
		    }  
		    setTimeout(function() {  
		        settime(val);  
		    },1000);
		}
	</script> 
  </body>
</html>
