 <html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.png">
    <title>Register</title>
	<link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/plugins/datepicker/bootstrap-datetimepicker.min.css"></script>
	<link href="/css/signin.css" rel="stylesheet">
	
	<script src="/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="/plugins/datepicker/bootstrap-datetimepicker.min.js"></script>
  </head>

  <body>
    <form th:object="${object}"
    	class="form-signin" action="/users/register" method="post">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      </div>
      
      <div class="form-label-group">
        <input type="name" name="name" id="name" class="form-control" placeholder="Name" required autofocus>
        <label for="name">Name</label>
      </div>
      
      <div class="form-label-group">
        <input type="birthDay" name="birthDay" id="birthDay" class="form-control" placeholder="Birthday">
        <label for="birthDay">Birthday</label>
      </div>

      <div class="form-label-group">
        <input type="cellphoneNumber" name="cellphoneNumber" id="cellphoneNumber" class="form-control" placeholder="Cellphone" required>
        <label for="cellphoneNumber">Cellphone</label>
      </div>

      <div class="form-label-group">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        <label for="password">Password</label>
      </div>
      
      <!-- <div class="form-label-group">  
      		<label for="inpuVerifyCode">验证码</label>
		  <input type="verifyCode" name="verifyCode" class="form-control" id="inpuVerifyCode" placeholder="验证码" required minlength="4" maxlength="4" style="width:50%;float:left;">
	  	  <button type="button" id="verifycode" class="btn btn-sm btn-secondary" onclick="submitForm(this);" style="height:50px;float:right;width:30%;margin-bottom: 17px;">获取验证码</button>
		</div> -->

  		<button class="btn btn-lg btn-primary btn-block" type="submit" style="clear:both;">Submit</button>
  		<div class="checkbox mb-3" style="text-align:right;margin-top:20px;">
	        <label>
	          Already had account? <a href="/login">Login</a>
	        </label>
	      </div>
    </form>
    
    <script type="text/javascript" >  
    	$(document).ready(function(){
    		$("#birthDay").datepicker({
    			format: "yyyy-mm-dd",
    			viewMode: 1
    		});
    	});
		//倒计时  
		var countdown=60;  
		function submitForm(val) {  
			$.ajax({
				url:"/users/sendsms?cellphoneNumber=" + $("#cellphoneNumber").val(),
			});
			settime(val); 
		}  
		function settime(val){
			if (countdown == 0) {  
		        val.removeAttribute("disabled");  
		        $("#verifycode").text("获取验证码");
		        countdown = 60;  
		        return false;  
		    } else {
		        val.setAttribute("disabled", true);  
		        $("#verifycode").text("重新发送(" + countdown + ")");
		        countdown--;  
		    }  
		    setTimeout(function() {  
		        settime(val);  
		    },1000);
		}
	</script> 
  </body>
</html>
