<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<head>
	<meta charset="utf-8"> 
	<title>提交需求</title>
</head>
<body>
<div style="padding:10px;">
	<div class="alert alert-dark" role="alert">
	  请填写您的宝贵意见：
	</div>
</div>
<div style="padding:10px;margin-top:100px;" layout:fragment="content">
	<form role="form" action="/issues/new" method="post">
	  <div class="form-group mx-sm-8 mb-8">
	    <label for="description" class="sr-only">描述</label>
	    <textarea type="text" class="form-control" id="description" name="description" placeholder="意见描述"></textarea>
	  </div>
	  <button type="submit" class="btn btn-primary mb-2" style="align:right;">提&nbsp;交</button>
	</form>
</div>
</body>
</html>