<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<head>
	<meta charset="utf-8"> 
	<title>需求列表</title>
</head>
<body>
<div layout:fragment="content">
	<div class="list-group" th:each="issue : ${list}">
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-bottom:3px;">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1"></h5>
	      <small th:text="${issue.createDateString}"></small>
	    </div>
	    <p class="mb-1" th:text="${issue.description}"></p>
	    <small th:text="${issue.user!=null?issue.user.name:''}"></small>
	  </a>
  	</div>
</div>
</body>
</html>